* {
    box-sizing: border-box;
  }

body {
    width: 100%;
    height: auto;
    margin: 18px;
    overflow-x: hidden;
}

h1 {
    color: #0a0a0a;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section {
    box-shadow: 1px 1px 10px 1px black;
    background-repeat: repeat;
    background-color: #f5f1ea; 
}

footer {
    background-color: #2c6bb4;
    margin-bottom: 0px;
    border-top-right-radius:25%;
    border-top-left-radius: 25%;
    padding-top: 90px;
    text-align: center;
    position: relative;
    z-index: 1;
    box-shadow: 1px 1px 10px 1px black;
}

a {
    text-decoration: none;
}

p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 18px;

}

input {
    border-radius: 4px;
    height: 28px;
    outline: none;
    border: .01px solid #2c6bb4a1;
    font-family: Arial, Helvetica, sans-serif;
    color: #0a0a0ad2;
    font-size: 15pt;
    text-transform: lowercase;
    margin: 5px;
    background: #faf4f4d7;
}
h3 {
    padding: 0;
    margin: 5px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    text-align: center;
}

input:hover {
    background: #deebd8bb;
}

input:active {
    background: #deebd8bb;
}

input:focus {
    background: #deebd8bb;
}

label {
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#epptxt {
    display: flex;
    text-align: justify;
}

#epptxt2 {
    display: flex;
    text-align: justify;
}

.labelform {
    font-size: 15px;
    margin-left: 5px;
    padding: 0px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 

}
#application{
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
}

#personal{
    display: flex;
    flex-direction: column;
}
#personal2{
    display: flex;
    flex-direction:column;
}
#employment{
    display: flex;
    flex-direction:column;
}
#employment2{
    display: flex;
    flex-direction: column;
}
#education-info{
    display: flex;
    flex-direction:column;
}
/* input boxes */
.box{
    width:60%;
    margin-left:18%;
    
}
/* text above input */
.text{
    margin-left:18%;
    color:whitesmoke;
    text-shadow: 3px 3px 5px #2c6bb4a1;
    padding-bottom:1%;
    font-size:15pt;
}
/* initial text inside field set */
.headtext{
     color: whitesmoke;
     text-shadow: 3px 3px 5px #2c6bb4a1;
     margin-left:18%;
     font-size: 20pt;
}
/* this is the span id to style the text on radio buttons and checkboxes */
#radiobut{
    font-size:17pt;
    color: whitesmoke;
    text-shadow: 3px 3px 5px #2c6bb4a1;
    text-align: center;
}

.checks{
    margin-left: 18%;
    
}
.checkboxes{
    margin-left:18%;
}
#textarea{
    font-family: -apple-system, BlinkMacSystemFont,
     'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size:15pt;
}
#dropdown{
    font-size: 17pt;
    color:#2c6bb4a1;
    font-weight:bold;
}
fieldset {
    padding-top: 0px;
    padding-bottom: 20px;
    margin-top: 80px;
    padding-right: 20px;
    padding-left: 20px;
    color: #0a0a0a;
    border: none;
    outline: none;
    border-radius: 12px;
    background-image: linear-gradient(to right, #70be4e, #70be4e7a);
    box-shadow: 1px 2px 10px 1px black;


}
#bodydiv {
    background-color: #70b34e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#tiptop {
    background-color: #2c6bb4;
    color: #f5f1ea;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    width: 100%;
    box-shadow: 1px 1px 10px 1px black;
    position: relative;
    z-index: 1;
    text-decoration: none;

}

.align-right {
   float: right;
   margin-right: 25px;
}

#nav-bar {
    background: #ceb8a4;
    position: relative;
    z-index: 0;
    box-shadow: 1px 1px 10px 1px black;

}

.navrow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}


#navlogo {
    height: 5vmax;
    padding-bottom: 8px;
    margin-top: -30px;
    margin-left: -70px;
    opacity: 65%;
  
}



.callout {
    color: #2c6bb4a1;
    font-size: 15vmin;
    padding: 0px;
    margin: 0px;
    line-height: 120px;
    font-weight: bold;
    font-family: 'noto sans';
    text-shadow: 2px 2px 3px whitesmoke;
}

    .mycallouts {
     position: relative;
     z-index: 3;
    }

    


.callout-text
{
    line-height: 9px;
    font-family: 'noto sans';
    font-size: 5vmin;
    font-weight: bold;
    color: #70b34e;
    text-shadow: 2px 2px 3px navy;
    

}

#calloutquote2 {
   margin-right: 50%;
   position: relative;
   z-index: 3;
}

 #sidelogo {
   float: left;
 }


#welcome-section {
    margin-top: 0px;
    padding-top: 0px;
    text-align: center;
    height: 85vh;
    box-shadow: 1px 1px 10px 1px black;
    background-image: url(../bigvid.mp4);
    background-attachment: fixed;
    background-size: 100%;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-color: rgba(12, 11, 11, 0.562);

}

#myvideo {
    width: 100vw;
    height: auto
}

/* #welcome-vid {
    margin-top: 0px;
    padding-top: 10px;
    text-align: center;
    height: 85vh;
    box-shadow: 1px 1px 10px 1px black;
    background-image: url(../bigvid.mp4);
    background-attachment: fixed;
   background-size: 100%;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-color: rgba(12, 11, 11, 0.562);

} */


#overlay {
    margin-top: -850px;
}
#eppdiv {
    position: relative;
    z-index: 3;
    background-color: #70b34e;
    box-shadow: 1px 1px 10px 1px white;
}
.navmain
{
    color: #0a0a0a;
    font-size: 20px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 10px solid transparent;
    padding-bottom: 20px;
}



.navmain:hover
{
    color: #0a0a0a;
    font-size: 20px;
    text-decoration: none;
    border-bottom: 10px solid #70b34e;
    outline: blue;
}

#linkage {
    color: #f5f1ea;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    outline: blue;
}



#linkage:hover {
    color: #0a0a0a;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



#biglogo {
    max-width: 65%;
    opacity: 80%;
    padding-right: 50px;
    padding-top: 40px;

}

#sectiontwo {
    padding: 80px 0px 0px 200px;
    align-content: left;
    height: 80vh;
    background-image: url(../windmill.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-blend-mode: lighten;
    background-color: rgba(231, 227, 227, 0.329);
    position: relative;
    z-index: 3;

}

#sectionthree {
    padding: 20px;
    align-content: center;
    background-image: url(../potsofplants.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-blend-mode: lighten;
    height: 40vh;
    background-color: rgba(231, 227, 227, 0.233);

}



.item1 { grid-area: title1; text-align: center;}
.item2 { grid-area: title2; text-align: center;}
.item3 { grid-area: title3; text-align: center;}


.container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    column-gap: 2%;
    margin: 5%;
    grid-template-rows: auto auto auto;
    justify-content: space-evenly;
    grid-template-areas: 
    'title1 title2 title3';
 
                             
}

.title {
    font-size: 7vmin;
    line-height: 0px;
    color:#f5f1ea;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    
}


.btn {
    border-radius: 5px;
    background-color: #2c6bb4;
    padding: 10px;
    font-size: 15px;
    color: #f5f1ea;
    outline: none;
    border: ridge 1px #477cbf;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    box-shadow: 1px 1px 10px 1px black;
    transition: .7s;
    cursor: pointer;

}

.btn:hover {

    background-color: #1c3557;
    border: ridge 1px #477cbf;

}

.btn:focus {
    background-color: #477cbf;
    border: ridge 1px #1c3557;

}

.btn:active {
    background-color: #1c3557;
    border: ridge 1px #030c1a;

}



#mybtn2 {
    margin-left: 350px;
}
#mybtn3 {
    margin-left: 20px;
}

#mybtn4 {
    margin-left: 200px;
}

#mybtn {
    position: relative;
    z-index: 3;
    margin-left: -50px;
}

#mission {
    height: 35vh;

}
#missionimg {
    float: right;
    height: 55vh;
    margin-right: 3%;
    margin-bottom: 40px;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    box-shadow: 1px 1px 10px 1px #0a0a0a;
    border-bottom: 20px solid #f5f1ea;
    border-top: 20px solid #f5f1ea;


}

#missiontxt {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25pt;
    color: #1c3557;
    text-align: right;
    text-overflow: wrap;
    margin-bottom: 10%;
    width: 60%;

}



#missiontitle {
    color:#f5f1ea;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70pt;
    text-shadow: 3px 3px 3px #1c3557;
    text-align:right;
    position:absolute;
    left:400px;

}

#howto {
    height: 35vh;
}

/* LOPEZ SECTION  */

#howtotitle {
    color:#f5f1ea;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15vmin;
    text-align: right;
    padding: 2%;

}



#howtoimg {
    float: left;
    width: 40vw;
    margin-top: 150px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 1px black;
    border-bottom: 20px solid #2c6bb4;
    border-top: 20px solid #2c6bb4;
    border-left: 20px solid #2c6bb4;

    /* border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    box-shadow: 1px 1px 10px 1px #0a0a0a;
    border-bottom: 20px solid #f5f1ea;
    border-top: 20px solid #f5f1ea; */

}



#howtotxt {
    padding: 0px 30px 30px 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color: #0a0a0a;
    text-align: left;

}



/* LOPEZ SECTION END */

.txt-primary {
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.5vmin;
    color: #0a0a0a;
    text-align: center;
  
    
    }

    .txt-primary-app {
        padding: 0px 70px 30px 70px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 3.5vmin;
        color: #f5f1ea;
        text-align: left;
        text-shadow: 1px 1px 10px black;
        margin-top: -8px;
        margin-left: 90px;
       
        }
    
        #ceopic {
            border-radius: 50%;
            border: 7px solid #f5f1ea;
            width: 150px;
            height: auto;
            margin-left: 120px;
            margin-top: 20px;
            box-shadow: 1px 1px 10px 1px black;
        }
    .title-green {
        color: #70be4e;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15vmin;
        text-align: center;
        padding: 50px 0px 0px 0px;
        margin:0px;
    
    }

    .title-red {
        color: rgba(172, 10, 10, 0.904);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15vmin;
        text-align: center;
        padding: 50px 0px 0px 0px;
        margin:0px;
    
    }


    .title-black {
        color: #0a0a0a;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15vmin;
        text-align: center;
        padding: 50px 0px 0px 0px;
        margin:0px;
    
    }

    .title-blue {
        color: #2c6bb4;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15vmin;
        text-align: center;
        padding: 50px 0px 0px 0px;
        margin:0px;
    
    }

    .title-white {
        color: #f5f1ea;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15vmin;
        text-align: center;
        padding: 50px 0px 0px 0px;
        margin:0px;
    
    }


    #sectionfour {
        height: 80vh;
    }

    #sectionfour-pg {
        background-image: url(/brushed.png);
        background-repeat: repeat;
        background-color: #f5f1ea;
    }


    #mybuttons {
        margin-left: 40%;
    }

    #iconlogo {
        opacity: 80%;
    }

    #sectionfive {
        padding-top: 10%;
        margin-top: 0px;
        padding-left: 5%;
        padding-right: 2%;
        height: 110vh;
        color: rgb(172, 10, 10);
        align-content: center;
        background-image: url(../morewm.jpg);
        background-attachment: fixed;
        background-size: 100%;
        background-blend-mode: lighten;
        background-color: rgba(231, 227, 227, 0.678);
        
    }

    #sectionfiveimg{
        float: left;
        height: 60vh;
        width: auto;
        margin-top: 0px;
        margin-right: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        border-radius: 50%;
        box-shadow: 1px 1px 10px 1px black;
        border-bottom: 20px solid #2c6bb4;
        border-top: 20px solid #2c6bb4;
        border-left: 20px solid #2c6bb4;
    
    }


    .epp-btn {
        background-color: #70b34e;
        color: #f5f1ea;
        border: 1px solid #f5f1ea;
        outline: none;
        font-size: 15px;
        margin-top: 5px;
        border-radius: 10px;
        opacity: 50%;
        transition: 0.3s;
    }

    
    .epp-btn:hover {
        background-color: rgba(250, 244, 244, 0.212);
        color: #f5f1ea;
        outline: none;
        font-size: 15px;
        margin-top: 5px;
        opacity: 100%;
    }

    .epptxt {
        border-right: 2px solid #f5f1ea7a;
        padding: 0px 20px;
        text-align: left;
    }

    .epptxt2 {
        padding: 0px 10px;
        text-align: left;
    }

    .backtotop {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
        float: right;
        color: #477cbf;
        text-decoration: bold;
        padding-right: 100px;
    }

    #playwithjq {
        height: 500px;
    }

    .triangle-right {
        width: 100vw;
        height: 10vh;
        border-top: 80px solid transparent;
        border-left: 1800px solid #ceb8a4;
        border-bottom: 150px solid transparent;
        margin-top: -90px;
        position: relative;
        z-index: 0;
    }

    .triangle-left {
        width: 100vw;
        height: 10vh;
        border-top: 80px solid transparent;
        border-right: 1800px solid #ceb8a4;
        border-bottom: 150px solid transparent;
        margin-top: -100px;
        position: relative;
        z-index: 0;
    }

    #triangle1 {
        width: 100vw;
        height: 10vh;
        border-top: 80px solid transparent;
        border-left: 1800px solid #477cbf;
        border-bottom: 150px solid transparent;
        margin-top: -90px;
        position: relative;
        z-index: 4;
        height: 4vh;
        margin-top: -70px;
 }

    #triangle6 {
    margin-top: -10px;
    }

    #triangle4-app {
        width: 100vw;
        height: 10vh;
        border-top: 80px solid #2c6bb4;
        border-left: 1800px solid #ceb8a4;
        border-bottom: 150px solid transparent;
        margin-top: -90px;
        position: relative;
        z-index: 0;
    }

    #triangle5 {
        margin-bottom: -150px;
        width: 100vw;
        height: 10vh;
        border-top: 80px solid transparent;
        border-right: 1800px solid #477cbf;
        border-bottom: 150px solid transparent;
        margin-top: -100px;
        position: relative;
        z-index: 0;
     }

            #triangle7 {
                margin-bottom: -150px;
                width: 100vw;
                height: 10vh;
                border-top: 80px solid #ceb8a4;
                border-right: 1800px solid #70b34e;
                border-bottom: 150px solid #70b34e;
                margin-top: -100px;
                position: relative;
                z-index: 0;
     }



            #triangle3 {
                margin-bottom: -150px;
                border-left-color: #477cbf;
                    }

                    #triangle8 {
                        margin-bottom: -10px;
                        border-left-color: #477cbf;
                            }

                            #triangle9 {
                                color: #70b34e;
                                margin-bottom:  -900px;
                                border-left-color: #477cbf;
                                border-top: 176px solid #70be4e;
                                border-right: 1800px solid transparent;
                                border-bottom: 150px solid transparent;
                            }

    #joinsection {
        height: 20vh;
        position: relative;
        z-index: 3;
        bottom: 200px;
        left: 10%;
    }

    #testy {
        width: 80vw;
    }

    #testquote {
        width: 60%;
        margin-top: 200px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 3.5vmin;
        color: #f5f1ea;
        text-shadow: 3px 3px 5px #2c6bb4a1;

    }

    #testname {
        width: 55%;
        margin-top: 20px;
        margin-left: 5%;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 3vmin;
        color: #0a0a0a;

    }

    #testpic {
        width: 35%;
        float: right;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        margin-top: -320px;
        box-shadow: 1px 1px 10px 1px #0a0a0a;
        border-bottom: 20px solid #f5f1ea;
        border-top: 20px solid #f5f1ea;
    }

    .myhr {
        border: .1px dashed #70be4e;
        box-shadow: 1px 1px 1px 1px #82c566;
        opacity: 60%;
    }
        

    .donate
{

    border-bottom: 10px solid #2c6bb4;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;

}

.donate:hover
{
    border-bottom: 10px solid #70be4e;
}

/* 
    play with fades n things */

    /* .playheader {
        color: black;
    } */
/* 
    .playtext {
        color: #70be4e;
        transition: 0.7s;
    }
 .playtext:hover {
        color: black;
    }
.playspan:hover {
    color: #70be4e;
}

#redtext {
    color: red;
    border: 1px solid red;
}

#redtext:hover {
    color: #70be4e;
    border: 1px solid #70be4e;
} */

#welcome-application {
    height: 60vh;
    background-image: url(../cutearth.png);
    background-attachment: scroll;
    background-size: 100%;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-color: #2c6bb4;
}

#applytitle {
   padding-top: 10vh;
   font-size: 32vmin;
}

#applysubtext {
    padding-top: 0vh;
    font-size: 5vmin;
    text-transform: uppercase;
    letter-spacing: 0.3vmax;
    margin-top: -20px;

 }

 #pagesubtext {
    padding-top: 0vh;
    font-size: 5.8vmin;
 }


 #apppic {
    width: 100%;
    /* padding-top: 1%; */
    /* border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-radius: 50%; */
    /* box-shadow: 1px 1px 10px 1px #0a0a0a; */
    /* box-shadow: none; */
    /* border-bottom: 20px solid #2c6bb4;
    border-top: 20px solid #2c6bb4;
    border-left: 20px solid #2c6bb4; */
    /* padding-bottom: 10px;
    padding-top: 10px;
    background-color: #70b34eaf; */
}

#scienceladyapp{
    float: left;
    height: auto;
    width: 40vw;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    box-shadow: 1px 1px 10px 1px #0a0a0a;
    border-bottom: 20px solid #f5f1ea;
    border-top: 20px solid #f5f1ea;

}


#black {
    background-color: #70be4e;
    width: 100%;
    height: 70px;
    margin-top: -90px;
    border-bottom: 1px solid #0a0a0a60;
    opacity:90%;
}

#application {
    margin: 0px 370px;
}

.app-title {
    font-size: 4.8vmin;
    margin-top: -75px;
    padding-bottom: 20px;
}

#submit-application
{
    margin-top: 60px;
    width: 50%;
}

#app-blurb {
    background-image: linear-gradient(to right, #2c6bb4 , transparent);
    border-top: 10px solid #70be4e; 
    border-bottom: 10px solid #70be4e; 
    padding: 20px;
    margin-left: 10px;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 55.5vh;
    width: 97.5vw;
    margin-top: -420px;
    padding-top: 90px;
    z-index: 8;
    box-shadow: 1px 1px 10px 1px black;
}

#fadedpic {
    margin-top: 140px;
    width: 100vw;
height: auto;
border-top-left-radius: 50%;
border-bottom-right-radius: 50%;
box-shadow: 1px 1px 10px 1px black;

} 


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.199); /* Black w/ opacity */

  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #f5f1ea;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */

  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #70be4e;
    color: #f5f1ea;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%; */
  }

  
 #modalsubtext {
    padding-top: 0vh;
    font-size: 6.8vmin;
    text-align: left;
 }

 #heart {
     font-size: 6.8vmin;
     color: red;
     bottom: 50;
     display: inline;
 }
  
  /* Modal Body */
  .modal-body {padding: 2px 16px;}
  
  
  /* Modal Footer */
  .modal-footer {
    padding: 8px 16px;
    background-color: #70be4e;
    color: #0a0a0a;
    text-align: center;

  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    border: .5px solid #0a0a0a88;
    animation-name: animatetop;
    animation-duration: 0.4s
  }



  
  /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }



  /* Add padding to containers */
.container2 {
    padding: 10px;
    position: relative;
    z-index: 6;
    color: #0a0a0a;
    border-radius: 50%;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit/register button */
  .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity:1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }

@media (max-width: 1050px) {



    #biglogo {
        max-width: 92%;
        opacity: 80%;
        padding-right: 0px;
        padding-top: 0px; }


    .container {
        row-gap: 0%;

    
    }

    #tagline {
        height: 50vmax;
    }

    #joinsection {
height: 40vh;
    }
    #sectionfive {
        margin-top: 0px;
        padding-top: 0%;
    }

    #welcome-section {
        background-image: none;
        height: 80vh;
    }

    #welcome-application {
        background-image: none;
        height: 40vh;
    }

    #sectiontwo {
        display: none;
    }


    .triangle-left {
display: none;
    }

    .triangle-right {
        display: none;
            }
    

    .title{
        line-height: 20px;
        color: #f5f1ea;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
    }

    #epp-btn{
        font-size: 5px;
        line-height: 20px;
        color: #f5f1ea;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
    }

#navlogo {
    display: none;
}



#missionimg {

    width: 300px;
    height: auto;
    box-shadow: 1px 1px 10px 1px #0a0a0a;
    border-bottom: 20px solid #f5f1ea;
    border-top: 20px solid #f5f1ea;




}



}

@media (max-width: 450px) {
    
    .container {
        margin-left: 2%;
        margin-right: 2%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        column-gap: 0%;
        row-gap: 5%;
        margin: 0%;
        grid-template-rows: auto auto auto;
        justify-content: space-evenly;
        grid-template-areas: 
        'title1' 
        'title2' 
        'title3' 
    
    }

    
}


